:root {
	--main-bg-color: #2c2c2c;
	--main-bg-secondary-color: #3c3f41;
	--main-height: 45px;
	--background-color: #2c2c2c;
	--background-color-secondary: #3c3f41;
	--border-top-color: #fdfdfd;
	--font-color: #fdfdfd;
	--font-color-link: #c3c3cb;
	--iconColor:#fdfdfd;
}

/*Color*/
body ,
#page-content,
#content-inner-wrapper,
.form-control {
	background: var(--background-color)!important;
}

.panel-wrapper,
#main-footer,
#page-navigation-wrapper {
	background-color: var(--background-color-secondary)!important;
}

#sidebar-wrapper .panel-heading,
#export-panel .panel-heading {
	border-top: 3px solid var(--border-top-color)!important;
}

.toc-tree li a::after {
	background: none!important;
}

#toc-nav {
	-webkit-box-shadow: 0 5px 5px -4px var(--border-top-color) !important;
	-moz-box-shadow: 0 5px 5px -4px var(--border-top-color) !important;
	box-shadow: 0 5px 5px -4px var(--border-top-color) !important;
}

/* Buttons */
.btn-light.disabled,
.btn-light[disabled],
fieldset[disabled] .btn-light,
.btn,
.btn-light ,
.page-nav-btn {
	background-color: var(--background-color-secondary)!important;
}

#user-menu-dropdown {
	background-color: var(--background-color-secondary)!important;
}

/* Typo */
h1,
h2,
h3,
h4,
h5,
h6,
p,
.form-control::placeholder,
.panel-title,
.btn,
.page-symbol {
	color: var(--font-color)!important;
}

a,
#main-footer {
	color: var(--font-color-link)!important;
	text-decoration: underline !important;
}

#smallText,
#normalText,
#largeText {
	color: var(--iconColor)!important;
}

/*Bar*/
#loopReadModesBar {
	background: var(--main-bg-color)!important;
}

#loopReadModesBar >div > select {
	background-color: var(--main-bg-color);
	color: #ffffff;
}
#loopReadModesBar >div > select:hover,
#loopReadModesBar >div > select:focus {
	background-color: var(--main-bg-secondary-color);
}

#loopReadModesFont > button {
	background-color: var(--main-bg-color);
}
#loopReadModesFont > button:hover,
#loopReadModesFont > button:focus  {
	background-color: var(--main-bg-secondary-color);
}
