:root {
	--main-bg-color: #526ca2;
	--main-bg-secondary-color: #7d9df1;
	--main-height: 45px;
	--iconColor: #fff;
}
#loopReadModesBar{
	background:var(--main-bg-color);
	width:100%;
	height:var(--main-height);
	display:flex;
	justify-content:flex-end
}

#loopReadModesBar >div > select {
	background-color: var(--main-bg-color);;
	height: var(--main-height);
	color: #fff;
	font-size: 25px;
	border: none;
	-webkit-appearance: button;
	outline: none;
}
#loopReadModesBar >div > select:hover, #loopReadModesBar >div > select:focus {
	background-color: var(--main-bg-secondary-color);
 }

#loopReadModesFont {
	display: flex;
	justify-content:center;

}
#loopReadModesFont > button {
	background-color: var(--main-bg-color);;
	border: none;
	width:	var(--main-height);
	height: var(--main-height);
}
#loopReadModesFont > button:hover,#loopReadModesFont > button:focus  {
	background-color: var(--main-bg-secondary-color);
}
#smallText, #normalText, #largeText{
	color: #fff;
	font-size: 25px;
}
