:root {
	--main-bg-color: #526ca2;
	--main-bg-secondary-color: #7d9df1;
	--main-height: 45px;
	--iconColor: #fff;
	--font-size: 25px;
}
#loopReadModesBar{
	background:var(--main-bg-color);
	width:100%;
	height:var(--main-height);
	display:flex;
	justify-content:flex-end
}
#loopReadModesStyle{
	width:80px;
}
#loopReadModesStyleButtons{
	display:grid;

	z-index:1;
	position: relative;
}
#loopReadModesBar >div > select {
	background-color: var(--main-bg-color);;
	height: var(--main-height);
	color: #fff;
	font-size: var(--font-size);
	border: none;
	-webkit-appearance: button;
	outline: none;
}
#loopReadModesBar >div > select:hover, #loopReadModesBar >div > select:focus {
	background-color: var(--main-bg-secondary-color);
 }

#loopReadModesFont {
	display: flex;
	justify-content:center;

}
.rmBtn {
	background-color: var(--main-bg-color);
	border: none;
	width:	var(--main-height);
	height: var(--main-height);
	color: #fff;
	font-size:var(--font-size);
}
.dropdownBtn{
	border: none;
	height: var(--main-height);
	font-size:var(--font-size);
}
.dropdownBtn:hover,  .dropdownBtn:focus {
	text-decoration: underline;
}
#loopReadModesStyleButtonClose, #loopReadModesStyleButtonOpen{
	width:80px;
}
.rmBtn:hover,.rmBtn:focus{
	background-color: var(--main-bg-secondary-color);
}
